body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #0f172a;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar button:hover {
  background: #334155;
}

/* Main */
.main {
  margin-left: 260px;
  padding: 20px;
  width: 100%;
}