<nav class="navbar">
    
    <div class="logo">
        🚀 AI Creator Studio
    </div>
    
    <div class="nav-links">
        
        <a href="../index.html">Home</a>
        
        <a href="../generators/hook-generator.html">
            Hooks
        </a>
        
        <a href="../generators/script-generator.html">
            Scripts
        </a>
        
        <a href="../generators/prompt-generator.html">
            Prompts
        </a>
        
        <a href="../generators/thumbnail-generator.html">
            Thumbnails
        </a>
        
        <a href="../generators/title-generator.html">
            Titles
        </a>
        
    </div>
    
</nav>